@import "tailwindcss";

@theme{
    --color-vibrant-orange:#FF8C42;
    --color-duck-yellow-dark: #FFC700;
    --color-duck-yellow:#FFD700;
    --color-duck-yellow-subtle:#ffd580;
    --color-duck-yellow-light:#FFF8DC;
    --color-pond-blue:#4A90E2;
    --color-contrast-pink: #ed5a7c;
}